<style>
.Color {
	color: green
}

.redColor {
	color: red
}

.btn-success-custom {
	color: white;
	background-color: #21205f;
}

.btn-success-custom:hover {
	color: white;
	background-color: #999999;
}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box" style="min-height: 500px;">
			<div class="portlet-header">
				<div class="caption">All Cattle Intake</div>
			</div>
			<div class="portlet-body" ng-init="init();" style="overflow-x: auto;">
			<!-- 	<span ng-if="add == true" style="color:green;">Record Added Successfully.</span>
			<span ng-if="update == true" style="color:green;">Record Updated  Successfully.</span>
			 -->
			 <span flash-message="5000"  style="float:right;width:40%;" ></span> 
				<div class="row mbm">
									
					<div class="col-lg-12">
						<!-- {{jobs}} -->
						<div>
							 <div class="pull-left">
								<span>
									<button class="btn btn-success-custom" data-toggle="tooltip"
										data-placement="bottom" title="Add new  feed Cattle"
										ng-click="addnewfeedCattle();" ng-if = "cattleIntake == true">Add </button>
								</span>

							</div>
							<!-- <div class="pull-right">
								<label>Active Users:</label>&nbsp;&nbsp; <small><strong>{{activeusercount}}</strong></small>
							</div> -->
						</div>
						<div class="pull-right"></div>
						
						<div ng-init="getAllCattleIntake()" class="table-responsive">
							<div class="page-header">
								<table id="table_id"
									class="table table-hover table-striped table-bordered table-advanced tablesorter display">
									<tbody>
										<tr>
											<th>Cattle Id</th>
											  <th>Feed Cattle Master</th>
											<th>Cattle Breed</th>
											<th>Device ID</th>
											<th>Quantity</th>
										<!--  	<th>Actual Feed Type</th>
											<th>Actual Feed Name</th>
											<th>Expected Feed Type</th>
											<th>Expected Feed Name</th>
											<th>Expected Feed Quantity</th>-->
											<th>Last Update Date Time</th>
											<th>Details</th>
										</tr>
										<tr data-ng-repeat="cat in catersintake"
											style="background-color: #fff !important; left: -900">
											<td ng-click="" data-toggle="tooltip" data-placement="bottom"
												title="Send to mail to user"><a
												href="mailto:{{user.email}}">{{cat.cattleId}}</a></td>
												<td ng-click="">{{cat.cattleFeedMaster.feedPlanName}}</td>
												<td ng-click="">{{cat.cattleFeedMaster.Breed}}</td>
											<td ng-click="">{{cat.deviceID}}</td>
											<td ng-click="">{{cat.quantity}}</td>
											<!--  <td ng-click="">{{cat.actualFeedType}}</td>
											<td ng-click="">{{cat.actualFeedName}}</td>
											<td ng-click="">{{cat.expectedFeedType}}</td>
											<td ng-click="">{{cat.expectedFeedName}}</td>
											<td ng-click="">{{cat.expectedFeedQuantity}}</td>-->
											<td> {{cat.lastUpdateDateTime | date:'yyyy-MM-dd HH:mm:ss '}}</td>
											<td><button class="btn btn-success-custom"
													ng-click="editfeedCatdersDetails(cat);" data-toggle="tooltip"
													data-placement="bottom" title="View  Cattle  Intake details">
													<i data-toggle="modal" class="glyphicon glyphicon-eye-open"></i>
											    </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							 <div class="pull-right">
								<button id="pre" type="button" ng-click="clickPre()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-left"></i>
								</button>
								&nbsp;
								<button id="next" type="button" ng-click="clickNext()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</button>
							</div> 
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
   
  
</div>

<!-- Modal Edit user details-->
<div class="modal fade" id="editfeedCatdersDetails" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit Cattle Intake</h4>
			</div>
			<div class="modal-body">
			<span ng-if = "emptyFieldsError == true"><code> Please fill all fields!!!</code></span>
				<div class = "col-md-12">
				<div class = "col-md-6	">
						
	            	 <div class="col-md-12" style="margin-top:5%;">
		              <label class=" col-md-0">Cattle Master </label> 
			                <select id = "feed"  data-ng-model="catersIds"  class = "col-md-5 form-control"  style="    width: 100%; ">
			                 <option ng-repeat="f in caters" value="{{f.cattleId}}"   ng-selected="f.isSelect  == true">{{f.name}}</option>
			                </select>
	            		</div>  
	            		
	            		 
	            	 <div class="col-md-12" style="margin-top:5%;">
		              <label class=" col-md-0">Select Feed Cattle Master </label>
		             
			                <select id = "feed"  data-ng-model="feedId"  class = "col-md-5 form-control"  style="    width: 100%;" ng-change="getPlanDetailsBYId(feedId)">
			                 <option ng-repeat="f in feedcaters" value="{{f.feedId}}"   ng-selected="f.isSelect  == true">{{f.feedPlanName}}</option>
			                </select>   
	            	</div> 
	            	</div>
	            	<div class = "col-md-6">
						
						<div class="col-md-12" style="margin-top:5%;">
										<div class="">
											<div class="">
											<div ng-if="doberror == true" ><span style="color:red">Please enter DOB</span></div>
											<span>Date of Birth</span>
												<div class="input-group col-md-12"style="margin-top:2%;">
													 <input type="text" ng-model="cat.dateOfBirth"
														name="dob" class="form-control " id="dob"
														 ng-click="initempDatepicker();"
														style="font-size: 12px; width:  100%;" required>
														
												</div>
											</div>
									</div>
					</div>
					
					<div class="col-md-12" style="margin-top:5%;>
  							<label for="usr">Device Id </label>
  							<input type="text" ng-model = "cat.deviceID" style="margin-top:2%;"class="form-control" id="firstname">
						</div>
						
						<!--  <div class="col-md-12" style="margin-top:5%;">
  							<label for="usr">Quantity </label>
  							<input type="text" ng-model = "cat.quantity" onkeypress="return isNumber(event)" class="form-control" id="firstname">
						</div>-->	
	            	
						</div>
						<!--  
						<div class="col-md-12"  >
						 <div class="col-md-12" ng-repeat="feed in cattleIntakefeedsPlan" style = "margin-top: 5%;">
							<span>Plan Id</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<select id = "feedType" data-ng-model="cattleIntakefeedsPlan[$index]" style=" width:30%" ng-change = "getAllFieldPlanName(cattleIntakefeedsPlan[$index],$index)">
			                <option value="" disabled>--- Select ---</option>
			                <option ng-repeat="o in feedsPlan" value="{{o}}" ng-selected="{{o.Selected == true}}">{{o.feedPlanName}}</option>
			                </select>
			                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			                <span>  Feed Plan Name</span>
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].feedPlanName"  style=" width:30%" disabled/> 
							<br><br>
							
							<span> Plan Start Date</span>
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].feedPlanStartDate"  style=" width:30%" disabled/> 
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<span> Plan End Date</span>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].feedPlanEndDate" style=" width:30%"  disabled/>
						  	 <br><br>
							 <span>quantity</span>
						    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].quantity" style=" width:30%"  disabled/>
							
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button ng-click="addFields(feed)" style=" &nbsp;  float: right;margin-top: 1%;">Add</button>
							<button ng-click="deleteFeed($index)" style=" &nbsp; float: right;margin-top: 1%;">Delete</button>
								
						 </div>
						</div>-->
						
						<div class="col-md-12" style="margin-top:5%;">
							<div id="grid1" ui-grid="gridOptions" ui-grid-edit class="grid"></div>
   							 </div>

						</div>
	            	</div>
						<div class="form-actions">
							<div class="pull-right" style="margin-top:2%;">
								<button type="submit" ng-click="updateCattleIntakeProfileByAdmin(cat);"
									class="btn btn-success-custom" ng-if = "cattleIntake == true">Update</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
								<!-- <button type="button" class="btn btn-default">Cancel</button> -->
							</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Add new user model  -->
<!-- Modal Edit user details-->
<div class="modal fade" id="addnewfeedCattle" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add  Cattle Intake</h4>
			</div>
			<div class="modal-body">
			<span ng-if = "emptyFieldsError == true"><code> Please fill all fields!!!</code></span>
				<div class = "col-md-12">
				
						<div class = "col-md-6	">
						
	            	
					 <div class="col-md-12" style="margin-top:5%;">
		              <label class=" col-md-0">Cattle Master </label> 
			                <select id = "feed"  data-ng-model="catersIds"  class = "col-md-5 form-control"  style="    width: 100%; ">
			                 <option ng-repeat="f in caters" value="{{f.cattleId}}"   ng-selected="f.isSelect  == true">{{f.name}}</option>
			                </select>
	            		</div>   
	            
	            	
					 <div class="col-md-12" style="margin-top:5%;">
		              <label class=" col-md-0">Select Feed Cattle Master </label>
			                <select id = "feed"  data-ng-model="feedId" class = "col-md-5 form-control"  style="    width: 100%; " ng-change="getPlanDetailsBYId(feedId)">
			                 <option ng-repeat="f in feedcaters" value="{{f.feedId}}"   ng-selected="f.isSelect  == true">{{f.feedPlanName}}</option>
			                </select>
	            		</div>   
	    						
	            	</div>
	            	
	            	<div class = "col-md-6">
	            		
	            		<div class="col-md-12"  style="margin-top:5%;">
										<div class="">
											<div class="" >
											<div ng-if="doberror == true" ><span style="color:red">Please enter DOB</span></div>
												<div class="input-group col-md-12" >
												<span>Date Of Birth</span>
													 <input type="text"  ng-model="cat.dateOfBirth"
														name="dobnew" class="form-control " id="dobnew"
														 ng-click="initempDatepickerAddnew();"
														style="font-size: 12px;  width: 100%; margin-top:1%;" required>
														<!--  <div class="input-group-addon">
														<i class="fa fa-calendar"></i>
														</div>-->
												</div>
											</div>
									</div>
					</div>
					
					<div class="col-md-12"  style="margin-top:5%;">
  							<label for="usr">Device Id </label>
  							<input type="text" ng-model = "cat.deviceID" class="form-control" id="firstname">
						</div>
	            	
	            	
	            	
	            	<!--  <div class="col-md-12" style="margin-top:5%;">
  							<label for="usr">Quantity </label>
  							<input type="text" ng-model = "cat.quantity" onkeypress="return isNumber(event)" class="form-control" id="firstname">
						</div> -->  
						
				
				  </div>
						<!--    <div class="col-md-12"  >
						 <div class="col-md-12" ng-repeat="feed in cattleIntakefeedsPlan" style = "margin-top: 5%;">
							<span>Plan Id</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<select id = "feedType" data-ng-model="cattleIntakefeedsPlan[$index]" style = "width: 30%;"ng-change = "getAllFieldPlanName(cattleIntakefeedsPlan[$index],$index)">
			                <option value="" disabled>--- Select ---</option>
			                <option ng-repeat="o in feedsPlan" value="{{o}}" ng-selected="{{o.Selected == true}}">{{o.feedPlanName}}</option>
			                </select>
			                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			                <span> Feed Plan Name</span>
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].feedPlanName"  style=" width:30%" disabled/> 
								<br><br>
							
							<span> Plan Start Date</span>
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].feedPlanStartDate"  style=" width:30%" disabled/> 
								
							
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<span> Plan End Date</span>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].feedPlanEndDate" style=" width:30%"  disabled/>
							<br><br>						
							<span>quantity</span>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="text" class="xdTextBox" ng-model="cattleIntakefeedsPlan[$index].quantity" style=" width:30%"  disabled/>
						
							
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							
							<button ng-click="addFields(feed)" style=" &nbsp;  float: right;margin-top: 1%;">Add</button>
							<button ng-click="deleteFeed($index)" style=" &nbsp; float: right;margin-top: 1%;">Delete</button>
								
						 </div>
						</div>-->
						<div class="col-md-12" style="margin-top:5%;">
							<div id="grid1" ui-grid="gridOptions" ui-grid-edit class="grid"></div>
   							 </div>

						</div>
						
						
					</div>
						<div class="form-actions">
							<div class="pull-right" style="margin-top:2%;">
								<button type="submit" ng-click="addCattleIntakeProfileByAdmin(cat);"
									class="btn btn-success-custom" ng-if = "cattleIntake == true">Add</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
								<!-- <button type="button" class="btn btn-default">Cancel</button> -->
							</div>
				</div>
			</div>
		</div>

	</div>
</div>
<script>

function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>

<style type="text/css">
.modal .modal-dialog {
	width: 70%;
}

.modal .modal-body {
	max-height: 500px;
	overflow-y: auto;
}

fieldset.scheduler-border {
	border: 1px groove !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	border-color: #darkgrey;
}

legend.scheduler-border {
	font-size: 1.0em !important;
	text-align: left !important;
	width: inherit;
	padding: 0 10px;
	border-bottom: none;
	color: darkgray;
}

.clsDatePicker {
	z-index: 100000;
}
</style>

<style>
.datepicker {
	z-index: 1151 !important;
}
</style>
