<style>
.Color {
	color: green
}

.redColor {
	color: red
}

.btn-success-custom {
	color: white;
	background-color: #21205f;
}

.btn-success-custom:hover {
	color: white;
	background-color: #999999;
}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box" style="min-height: 500px;">
			<div class="portlet-header">
				<div class="caption">All Cattle Output</div>
			</div>
			<div class="portlet-body" ng-init="init();" style="overflow-x: auto;">
				<!--  x<span ng-if="add == true" style="color:green;">Record Added Successfully.</span>
			<span ng-if="update == true" style="color:green;">Record Updated  Successfully.</span> -->
			<span flash-message="5000"  style="float:right;width:40%;" ></span> 
				<div class="row mbm">
					<div class="col-lg-12">
						<!-- {{jobs}} -->
						<div>
							 <div class="pull-left">
								<span>
									<button class="btn btn-success-custom" data-toggle="tooltip"
										data-placement="bottom" title="Add new  feed Cattle"
										ng-click="addnewfeedCattle();" ng-if = "CattleOutput == true">Add </button>
								</span>

							</div>
							<!-- <div class="pull-right">
								<label>Active Users:</label>&nbsp;&nbsp; <small><strong>{{activeusercount}}</strong></small>
							</div> -->
						</div>
						<div class="pull-right"></div>
						
						<div ng-init="getAllCattleOutput()" class="table-responsive">
							<div class="page-header">
								<table id="table_id"
									class="table table-hover table-striped table-bordered table-advanced tablesorter display">
									<tbody>
										<tr>
											<th>Cattle Id</th>
											<th>Pregnancy Date</th>
											<th>Actual Milk Quantity</th>
											<th>Expected Milk Quantity</th>											<th>Fat Quantity</th>
											<th>SNF Quantity</th>
											<th>Device Id</th>
											<th>Last Update Date Time</th>
											<th>Details</th>
										</tr>
										<tr data-ng-repeat="cat in catersoutput"
											style="background-color: #fff !important; left: -900">
											<td ng-click="" data-toggle="tooltip" data-placement="bottom"
												title="Cattle Id"><a>{{cat.cattleId}}</a></td>
											<td ng-click="">{{cat.pregnantCattle.actualPregnancyDate}}</td>
											<td ng-click="">{{cat.quantity}}</td>
											<td ng-click="">{{cat.expectedMilkQuantity}}</td>
											<td ng-click="">{{cat.fatContent}}</td>
											<td ng-click="">{{cat.SNFContent}}</td>
											<td ng-click="">{{cat.deviceID}}</td>
											
											<td> {{cat.lastUpdateDateTime | date:'yyyy-MM-dd HH:mm:ss '}}</td>
											<td><button class="btn btn-success-custom"
													ng-click="editfeedCatdersDetails(cat);" data-toggle="tooltip"
													data-placement="bottom" title="View  Cattle  Intake details">
													<i data-toggle="modal" class="glyphicon glyphicon-eye-open"></i>
											    </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							 <div class="pull-right">
								<button id="pre" type="button" ng-click="clickPre()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-left"></i>
								</button>
								&nbsp;
								<button id="next" type="button" ng-click="clickNext()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</button>
							</div> 
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</div>

<!-- Modal Edit user details-->
<div class="modal fade" id="editfeedCatdersDetails" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit  Cattle Output</h4>
			</div>
			<div class="modal-body">
				<div class = "col-md-12">
				<div class = "col-md-6">
				
					 <div class="col-md-12" style="margin-top:5%;margin-left:-4%;">
		              <label class="control-label col-md-8">Cattle Name </label>
		              <div class="col-md-12"> 
			                <select id = "feed"  data-ng-model="catersIds" class = "col-md-5 form-control"  style="    width: 110%;">
			                 <option ng-repeat="f in caters" value="{{f.cattleId}}"   ng-selected="f.isSelect  == true">{{f.name}}</option>
			                </select>
	            		</div>   
	            	</div>
					<div class="col-md-12" style="margin-top:5%;">
  							<label for="usr">Fat Content(%)</label>
  							<input type="text" ng-model = "cat.fatContent" class="form-control" onkeypress="return isNumber(event)"  id="fatContent">
						</div>	
				
				<div class="col-md-12" style="margin-top:5%;">
  							<label for="usr">SNF Content(%)</label>
  							<input type="text" ng-model = "cat.SNFContent" onkeypress="return isNumber(event)" class="form-control" id="SNFContent">
						</div>
				
							<!--  <div class="col-md-12">
  							<label for="usr">Actual Milk Quantity </label>
  							<input type="text" ng-model = "cat.quantity" onkeypress="return isNumber(event)"  class="form-control" id="firstname">
						</div>	-->
						
							
 				

						</div>
						<div class = "col-md-6	">
					
						<div class="col-md-12" style= "margin-top:5%; ">
  							<label for="usr">Device Id </label>
  							<input type="text" ng-model = "cat.deviceID"  class="form-control" id="firstname">
						</div>
						
						<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style = "margin-top: 5%;">
												<label for="usr">Date </label>
													 <input type="text" ng-model="cat.date"
														name="dob" class="form-control " id="dobnew"
														 ng-click="initempDatepickerAddnew();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>
						
						<div class="col-md-12" style= "margin-top:5%; ">
						<input type="text" dn-timepicker="h:mm a" min-time="00:00" max-time="23:59" step="15" ng-model="timepicker.model" />
						</div>
						
						
						<input type="text" dn-timepicker ng-model="time" min-time="9:00" max-time="17:00" step="10m" />
						
						<div class="col-md-12" style=" margin-top:5%;">
  							<label for="usr">Time</label>
  							<input type="time" id="exampleInput" name="input" ng-model="cat.time" placeholder="HH:mm:ss" style = "margin-top: 5%; width: 100%; height:  20%;" required />
						</div>
						<!--  <div class="col-md-12">
  							<label for="usr">Expected Milk Quantity </label>
  							<input type="text" ng-model = "cat.expectedMilkQuantity" onkeypress="return isNumber(event)"  class="form-control" id="expectedMilkQuantity">
						</div> -->	
						
						<!-- <div class="col-md-12" style="margin-top:1%;margin-left:-4%;">
		              <label class="control-label col-md-8">Select Orgnization</label>
		              <div class="col-md-12"> 
			                <select id = "org"  data-ng-model="org" class = "col-md-5" style="width:110%;">
			                 <option ng-repeat="o in orgs" value="{{o.orgId}}"   ng-selected="o.isSelect  == true">{{o.name}}</option>
			                </select>
	            		</div>   
	            	</div> -->
	            	
	            	 
	            	<!--  <div class="col-md-12" style="margin-top:1%;margin-left:-4%;">
		              <label class="control-label col-md-10">Select  Pregnant Name   </label>
		              <div class="col-md-12"> 
			                <select id = "feed"  data-ng-model="pregIds" class = "col-md-5"  style="    width: 110%;">
			                 <option ng-repeat="f in pregnant" value="{{f.pregnancyId}}"   ng-selected="f.isSelect  == true">{{f.pregnancyId}}/{{f.name}}</option>
			                </select>
	            		</div>   
	            	</div> --> 
	            	
					<!--  	<div class="col-md-12" style="margin-top:1%;margin-left:-4%;">
		              <label class="control-label col-md-8">Select User Id</label>
		              <div class="col-md-12">
			                <select id = "use"  data-ng-model="userId" class = "col-md-5"style="width:110%;">
			                 <option ng-repeat="u in users" value="{{u.userId}}"   ng-selected="u.isSelect  == true">{{u.userId}}</option>
			                </select>
	            		</div>   
	            	</div> -->
	            	</div>
	            	</div>
						<div class="form-actions">
							<div class="pull-right">
								<button type="submit" ng-click="updateCattleOutputProfileByAdmin(cat);"
									class="btn btn-success-custom" ng-if = "CattleOutput == true">Update</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
								<!-- <button type="button" class="btn btn-default">Cancel</button> -->
							</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Add new user model  -->
<!-- Modal Edit user details-->
<div class="modal fade" id="addnewfeedCattle" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit  Cattle Output</h4>
			</div>
			<div class="modal-body">
				<div class = "col-md-12">
				<div class = "col-md-6">
				
					 <div class="col-md-12" style="margin-top:5%;margin-left:-4%;">
		              <label class="control-label col-md-8">Cattle Name </label>
		              <div class="col-md-12"> 
			                <select id = "feed"  data-ng-model="catersIds" class = "col-md-5 form-control"  style="    width: 110%;">
			                 <option ng-repeat="f in caters" value="{{f.cattleId}}"   ng-selected="f.isSelect  == true">{{f.name}}</option>
			                </select>
	            		</div>   
	            	</div> 
				
					<div class="col-md-12" style=" margin-top:5%;">
  							<label for="usr">Fat quantity(%) </label>
  							<input type="text" ng-model = "cat.fatContent"  onkeypress="return isNumber(event)" class="form-control" id="fatContent">
						</div>	
				
					<div class="col-md-12" style=" margin-top:5%;">
  							<label for="usr">SNF quantity(%)</label>
  							<input type="text" ng-model = "cat.SNFContent" onkeypress="return isNumber(event)" class="form-control" id="SNFContent">
						</div>
				
						
						
						<!--  <div class="col-md-12">
  							<label for="usr">Actual Milk Quantity </label>
  							<input type="text" ng-model = "cat.quantity" onkeypress="return isNumber(event)" class="form-control" id="firstname">
						</div> -->
						 
						
				
						</div>
						<div class = "col-md-6	">
						
						
						
						<div class="col-md-12" style = "margin-top: 5%;" >
  							<label for="usr">Device Id </label>
  							<input type="text" ng-model = "cat.deviceID" class="form-control" id="firstname">
						</div>
						
						<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style = "margin-top: 5%;">
												<label for="usr">Date </label>
													 <input type="text" ng-model="cat.date"
														name="dob" class=" form-control " id="dob"
														 ng-click="initempDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
						
						<div class="col-md-12" style=" margin-top:5%;">
						<label for="usr">Time</label>
						<ng-timepicker  show-meridian="true"   ng-model="cat.time" style=" width: 100%;"></ng-timepicker>
						</div>
						
						  <div class="col-md-12" style=" margin-top:5%;">
  							<label for="usr">Time</label>
  							<input type="time" id="exampleInput" name="input" ng-model="cat.time" placeholder="HH:mm:ss" style = "margin-top: 5%; width: 100%; height:  10%;" required />
						</div> 
							
						
						
						
						<div class="demo-section k-content">
      
						
						<!--  <div class="col-md-12">
  							<label for="usr">Expected Milk Quantity </label>
  							<input type="text" ng-model = "cat.expectedMilkQuantity" onkeypress="return isNumber(event)" class="form-control" id="expectedMilkQuantity">
						</div> -->
								
					
						<!-- 
						<div class="col-md-12" style="margin-top:1%;margin-left:-4%;">
		              <label class="control-label col-md-8">Select Orgnization</label>
		              <div class="col-md-12"> 
			                <select id = "org"  data-ng-model="org" class = "col-md-5" style="width:110%;">
			                 <option ng-repeat="o in orgs" value="{{o.orgId}}"   ng-selected="o.isSelect  == true">{{o.name}}</option>
			                </select>
	            		</div>   
	            	</div> -->
	            		<!--  <div class="col-md-12" style="margin-top:1%;margin-left:-4%;">
		              <label class="control-label col-md-10">Select  Pregnant Name   </label>
		              <div class="col-md-12"> 
			                <select id = "feed"  data-ng-model="pregIds" class = "col-md-5"  style="    width: 110%;">
			                 <option ng-repeat="f in pregnant" value="{{f.pregnancyId}}"   ng-selected="f.isSelect  == true">{{f.pregnancyId}}/{{f.name}}</option>
			                </select>
	            		</div>   
	            	</div>-->
	            	
	            	
						 <!--  <div class="col-md-12" style="margin-top:1%;margin-left:-4%;">
		              <label class="control-label col-md-8">Select User Id</label>
		              <div class="col-md-12">
			                <select id = "use"  data-ng-model="userId" class = "col-md-5"style="width:110%;">
			                 <option ng-repeat="u in users" value="{{u.userId}}"   ng-selected="u.isSelect  == true">{{u.userId}}</option>
			                </select>
	            		</div>   
	            	</div> -->
	            	</div>
	            	</div>
						<div class="form-actions">
							<div class="pull-right" style="margin-top:2%;">
								<button type="submit" ng-click="addCattleOutputProfileByAdmin(cat);"
									class="btn btn-success-custom" ng-if = "CattleOutput == true">Save</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
								<!-- <button type="button" class="btn btn-default">Cancel</button> -->
							</div>
				</div>
			</div>
		</div>

	</div>
</div>
<script>

function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>


<style type="text/css">
.modal .modal-dialog {
	width: 70%;
}

.modal .modal-body {
	max-height: 500px;
	overflow-y: auto;
}
fieldset.scheduler-border {
	border: 1px groove !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	border-color: #darkgrey;
}

legend.scheduler-border {
	font-size: 1.0em !important;
	text-align: left !important;
	width: inherit;
	padding: 0 10px;
	border-bottom: none;
	color: darkgray;
}

.clsDatePicker {
	z-index: 100000;
}
</style>

<style>
.datepicker {
	z-index: 1151 !important;
}
</style>
