<style>
.Color {
	color: green
}

.redColor {
	color: red
}

.btn-success-custom {
	color: white;
	background-color: #21205f;
}

.btn-success-custom:hover {
	color: white;
	background-color: #999999;
}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box" style="min-height: 500px;">
			<div class="portlet-header">
				<div class="caption">All Feed Cattle Master</div>
			</div>
			<div class="portlet-body" ng-init="init();" style="overflow-x: auto;">
				<span ng-if="add == true" style="color:green;">Record Added Successfully.</span>
			<span ng-if="update == true" style="color:green;">Record Updated  Successfully.</span>
			
				<div class="row mbm">
					<div class="col-lg-12">
						<!-- {{jobs}} -->
						<div>
							 <div class="pull-left">
								<span>
									<button class="btn btn-success-custom" data-toggle="tooltip"
			
										data-placement="bottom" title="Add new  feed Cattle"
										ng-click="addnewfeedCattle();" ng-if="cattleFeedMaster == true">Add </button>
								</span>

							</div>
							<!-- <div class="pull-right">
								<label>Active Users:</label>&nbsp;&nbsp; <small><strong>{{activeusercount}}</strong></small>
							</div> -->
						</div>
						<div class="pull-right"></div>
						
						<div ng-init="getAllFeedCattleMaster()" class="table-responsive">
							<div class="page-header">
								<table id="table_id"
									class="table table-hover table-striped table-bordered table-advanced tablesorter display">
									<tbody>
										<tr>
											<th>Feed Id</th>
											<th>Feed Type</th>
											<th>Feed Protine</th>
											<th>Feed Water Content</th>
											<!-- <th>Date of Birth</th> -->
											<th>Feed Fiber</th>
											<th>Feed Vitamins</th>
											<th>Last Update Date Time</th>
											<th>View</th>
										</tr>
										<tr data-ng-repeat="cat in feedcaters"
											style="background-color: #fff !important; left: -900">
											<td ng-click="" data-toggle="tooltip" data-placement="bottom"
												title="Send to mail to user"><a
												href="mailto:{{user.email}}">{{cat.feedId}}</a></td>
											<td ng-click="">{{cat.feedType}}</td>
											<td ng-click="">{{cat.feedprotine}}</td>
											<td ng-click="">{{cat.feedWaterContent}}</td>
											<!-- <td>{{cat.dateofBirth | date:'yyyy-MM-dd HH:mm:ss '}}</td>
											 --><td ng-click="">{{cat.feedFiber}}</td>
											<td ng-click="">{{cat.feedVitamins}}</td>
											<td> {{cat.lastUpdateDateTime | date:'yyyy-MM-dd HH:mm:ss '}}</td>
											<td><button class="btn btn-success-custom"
													ng-click="editfeedCatdersDetails(cat);" data-toggle="tooltip"
													data-placement="bottom" title="View Feed Caters  details">
													<i data-toggle="modal" class="glyphicon glyphicon-eye-open"></i>
											    </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- <div class="pull-right">
								<button id="pre" type="button" ng-click="clickPre()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-left"></i>
								</button>
								&nbsp;
								<button id="next" type="button" ng-click="clickNext()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</button>
							</div> -->
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</div>

<!-- Modal Edit user details-->
<div class="modal fade" id="editfeedCatdersDetails" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit Feed Caters</h4>
			</div>
			<div class="modal-body">
				<div class = "col-md-12">
				<div class = "col-md-6">
						<div class="col-md-12">
  							<label for="usr">Feed Type</label>
  							<input type="text" ng-model = "cat.feedType" class="form-control" id="firstname">
						</div>


						<div class="col-md-12">
  							<label for="usr">Feed Protiene </label>
  							<input type="text" ng-model = "cat.feedprotine" class="form-control" id="firstname">
						</div>		
						
						
						<div class="col-md-12">
  							<label for="usr">Feed Water Content </label>
  							<input type="text" ng-model = "cat.feedWaterContent" class="form-control" id="feedWaterContent">
						</div>						
				
											
				
				
					<!-- <div class="col-md-12" style="margin-top:1%;">
		              <label class="control-label col-md-3">Select Orgnization</label>
		              <div class="col-md-12"> 
			                <select id = "org"  data-ng-model="org" >
			                 <option ng-repeat="o in orgs" value="{{o.orgId}}"   ng-selected="o.isSelect  == true">{{o.name}}</option>
			                </select>
	            		</div>   
	            	</div> -->
						</div>
						<div class = "col-md-6	">
							<div class="col-md-12">
  							<label for="usr">Feed Vitamins </label>
  							<input type="text" ng-model = "cat.feedVitamins" class="form-control" id="feedVitamins">
						</div>		
						<!-- 
						<div class="col-md-12" style="margin-top:1%;margin-left: -4%;">
		              <label class="control-label col-md-8">Select Orgnization</label>
		              <div class="col-md-12"> 
			                <select id = "org"  data-ng-model="org" class = "col-md-5"  style="    width: 110%;">
			                 <option ng-repeat="o in orgs" value="{{o.orgId}}"   ng-selected="o.isSelect  == true">{{o.name}}</option>
			                </select>
	            		</div>   
	            	</div> -->
	            	
	            	<div class="col-md-12">
  							<label for="usr">Feed Fiber </label>
  							<input type="text" ng-model = "cat.feedFiber" class="form-control" id="feedFiber">
						</div>	
						<div class="col-md-12" style="margin-top:1%;margin-left: -4%;">
		              <label class="control-label col-md-8">Select User Id</label>
		              <div class="col-md-12">
			                <select id = "use"  data-ng-model="userId" class = "col-md-5" style="    width: 110%;">
			                 <option ng-repeat="u in users" value="{{u.userId}}"   ng-selected="u.isSelect  == true">{{u.userId}}</option>
			                </select>
	            		</div>   
	            	</div>
	            	</div>
	            	</div>
						<div class="form-actions">
							<div class="pull-right" style="margin-top:2%;">
								<button type="submit" ng-click="updatefeedCattleProfileByAdmin(cat);"
									class="btn btn-success-custom" ng-if= "cattleFeedMaster == true">Update</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
								<!-- <button type="button" class="btn btn-default">Cancel</button> -->
							</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Add new user model  -->
<!-- Modal Edit user details-->
<div class="modal fade" id="addnewfeedCattle" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add Feed Cattle</h4>
			</div>
			<div class="modal-body">
				<div class = "col-md-12">
				<div class = "col-md-6">
						<div class="col-md-12">
  							<label for="usr">Feed Type</label>
  							<input type="text" ng-model = "cat.feedType" class="form-control" id="firstname">
						</div>


						<div class="col-md-12">
  							<label for="usr">Feed Protiene </label>
  							<input type="text" ng-model = "cat.feedprotine" class="form-control" id="firstname">
						</div>		
						
						
						<div class="col-md-12">
  							<label for="usr">Feed Water Content </label>
  							<input type="text" ng-model = "cat.feedWaterContent" class="form-control" id="feedWaterContent">
						</div>						
				
						
				
				<!-- 	<div class="col-md-12" style="margin-top:1%;">
		              <label class="control-label col-md-3">Select Orgnization</label>
		              <div class="col-md-12"> 
			                <select id = "org"  data-ng-model="org" >
			                 <option ng-repeat="o in orgs" value="{{o.orgId}}"   ng-selected="o.isSelect  == true">{{o.name}}</option>
			                </select>
	            		</div>   
	            	</div> -->
						</div>
						<div class = "col-md-6	">
						<div class="col-md-12">
  							<label for="usr">Feed Vitamins </label>
  							<input type="text" ng-model = "cat.feedVitamins" class="form-control" id="feedVitamins">
						</div>						
				
					<!-- 	<div class="col-md-12" style="margin-top:1%; margin-left: -4%;">
		              <label class="control-label col-md-8">Select Orgnization</label>
		              <div class="col-md-12"> 
			                <select id = "org"  data-ng-model="org" class = "col-md-5"  style="    width: 110%;">
			                 <option ng-repeat="o in orgs" value="{{o.orgId}}"   ng-selected="o.isSelect  == true">{{o.name}}</option>
			                </select>
	            		</div>   
	            	</div> -->
	            		<div class="col-md-12">
  							<label for="usr">Feed Fiber </label>
  							<input type="text" ng-model = "cat.feedFiber" class="form-control" id="feedFiber">
						</div>	
	            	
						<div class="col-md-12" style="margin-top:1%;margin-left: -4%;">
		              <label class="control-label col-md-8">Select User Id</label>
		              <div class="col-md-12">
			                <select id = "use"  data-ng-model="userId" class = "col-md-5"  style="    width: 110%;">
			                 <option ng-repeat="u in users" value="{{u.userId}}"   ng-selected="u.isSelect  == true">{{u.userId}}</option>
			                </select>
	            		</div>   
	            	</div>
	            	</div>
	            	</div>
						<div class="form-actions">
							<div class="pull-right" style="margin-top:2%;">
								<button type="submit" ng-click="addfeedCattleProfileByAdmin(cat);"
									class="btn btn-success-custom" ng-if="cattleFeedMaster == true">Add</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
								<!-- <button type="button" class="btn btn-default">Cancel</button> -->
							</div>
				</div>
			</div>
		</div>

	</div>
</div>


<style type="text/css">
.modal .modal-dialog {
	width: 70%;
}

.modal .modal-body {
	max-height: 500px;
	overflow-y: auto;
}

fieldset.scheduler-border {
	border: 1px groove !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	border-color: #darkgrey;
}

legend.scheduler-border {
	font-size: 1.0em !important;
	text-align: left !important;
	width: inherit;
	padding: 0 10px;
	border-bottom: none;
	color: darkgray;
}

.clsDatePicker {
	z-index: 100000;
}
</style>

<style>
.datepicker {
	z-index: 1151 !important;
}
</style>
