<style>
.Color {
	color: green
}

.redColor {
	color: red
}

.btn-success-custom {
	color: white;
	background-color: #21205f;
}

.btn-success-custom:hover {
	color: white;
	background-color: #999999;
}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box" style="min-height: 500px;">
			<div class="portlet-header">
				<div class="caption">All Pregnant Cattle </div>
			</div>
			<div class="portlet-body" ng-init="init();" style="overflow-x: auto;">
			<span flash-message="5000"  style="float:right;width:40%;" ></span>
					<!-- <span ng-if="add == true" style="color:green;">Record Added Successfully.</span>
					<span ng-if="update == true" style="color:green;">Record Updated  Successfully.</span> -->
				<div class="row mbm">
					<div class="col-lg-12">
						<!-- {{jobs}} -->
						<div>
							 <div class="pull-left">
								<span>
								 	<button class="btn btn-success-custom" data-toggle="tooltip"
										data-placement="bottom" title="Add new pregnant Cattle"
										ng-click="addnewCattle();" ng-if="Pregnant_Cattle == true">Add </button>
								
								</span> 

							</div>
							<!-- <div class="pull-right">
								<label>Active Users:</label>&nbsp;&nbsp; <small><strong>{{activeusercount}}</strong></small>
							</div> -->
						</div>
						<!-- <div class="pull-left">
						<div class="col-md-12" style="margin-top:-3%;margin-bottom:2%;; margin-left:24%;">
		              				<label class="control-label col-md-8">Select Cattle Name</label>
		              					<div class="col-md-12"> 
			                				<select id = "use"  data-ng-model="parentId" class= "col-md-5"  style="    width: 110%;" ng-change = "getCattlePregnancyRecords();">
			                					<option  value="0"  >All</option>
			                 					<option ng-repeat="u in catersPregIds" value="{{u.cattleId}}"   >{{u.cattleId}}/{{u.name}}</option>
			                				</select>
	            						</div>   
	            		   </div>	
						</div> -->
						
						<div ng-init="getAllPregnantCattle()" class="table-responsive">
							<div class="page-header">
								
								<table id="table_id"
									class="table table-hover table-striped table-bordered table-advanced tablesorter display">
									<tbody>
										<tr>
											<th>Pregnant Id</th>
											<!-- <th>Cattle name</th> -->
											<!-- <th>Parent Name </th> -->
											<th>Last Delivery Date</th>
											<th>Pregnancy Date</th>
											<th>Success Date</th>
											<th>Due Date</th>
											<th>First Insemination Date</th>
											<th>Second Insemination Date</th>
											<th>Third Insemination Date</th>
											<th>Forth Insemination Date</th>
											<th>Planned First Insemination Date</th>
											<th>Planned Second Insemination Date</th>
											<th>Planned Third Insemination Date</th>
											<th>Planned Forth Insemination Date</th>
											 <th>Details</th>
												 
										</tr>
										<tr data-ng-repeat="cat in caters"
											style="background-color: #fff !important; left: -900">
											<td ng-click="" data-toggle="tooltip" data-placement="bottom"
												title="Send to mail to user"><a
												href="mailto:{{user.email}}">{{cat.pregnancyId}}</a></td>
											<!-- <td ng-click="">{{cat.cattleId}}/{{cat.name}}</td> -->
											<td ng-click="">{{cat.lastDeliveryDate}}</td>
												<!-- <td ng-click="" >{{cat.cattleMaster.cattleId}}/ ({{cat.cattleMaster.name}})</td> -->
											<td ng-click="">{{cat.pregnancyDate}}</td>
											<td ng-click="">{{cat.successDate}}</td>
											<td ng-click="">{{cat.dueDate}}</td>
											<td ng-click="">{{cat.firstInseminationDate}}</td>
											<!-- <td>{{cat.dateofBirth | date:'yyyy-MM-dd HH:mm:ss '}}</td>
											 --><td ng-click="">{{cat.secondInseminationDate}}</td>
											<td ng-click="">{{cat.thirdInseminationDate}}</td>
											<td ng-click="">{{cat.forthInseminationDate}}</td>
												<td ng-click="">{{cat.plannedFirstInseminationDate}}</td>
													<td ng-click="">{{cat.plannedSecondInseminationDate}}</td>
														<td ng-click="">{{cat.plannedThirdInseminationDate}}</td>
														<td ng-click="">{{cat.plannedForthInseminationDate}}</td>
											 <td><button class="btn btn-success-custom"
													ng-click="editCatdersDetails(cat);" data-toggle="tooltip"
													data-placement="bottom" title="View Caters  details">
													<i data-toggle="modal" class="glyphicon glyphicon-eye-open"></i>
											    </button>
											</td> 
										</tr>
									</tbody>
								</table>
							</div>
							 <div class="pull-right">
								<button id="pre" type="button" ng-click="clickPre()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-left"></i>
								</button>
								&nbsp;
								<button id="next" type="button" ng-click="clickNext()"
									class="btn btn-success-custom">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</button>
							</div> 
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Edit user details-->
<div class="modal fade" id="editCatdersDetails" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit Cattle Pregnancy Details</h4>
			</div>
			<div class="modal-body">
			<div class = "col-md-12	">
				<div class = "col-md-6	">
						<!-- <span ng-if = "feedPlanNameDup == true"> <code>Feed Plan name is present please use another one!!</code></span> -->
							 
							 <div class="col-md-12" style="margin-top:5%;margin-left:-4%;"> 
		           			<div class="col-md-12">
		              		 <label>Select Cattle to add pregnancy</label>
			                <select id = "use"  data-ng-model="cat.cattleId" class = "col-md-5 form-control" style="    width: 110%;">
			                 <option ng-repeat="u in cattle" value="{{u.cattleId}}"   >{{u.name}}</option>
			                </select>
	            		 </div>    
	            	</div>
							
					</div>				
					</div>
				<div class = "col-md-12">
				<div class = "col-md-6">
		            
		             <!--  <div class="col-md-12">
		              		 <label>Select Cattle to add pregnancy</label>
			                <select id = "use"  data-ng-model="cat.cattleId" class = "col-md-5 form-control" style="    width: 110%;">
			                 <option ng-repeat="u in cattle" value="{{u.cattleId}}"   >{{u.name}}</option>
			                </select>
	            	 </div>  -->   
	            		
						<!-- <div class="col-md-12">
  							<label for="usr">Catttle Name</label>
  							<input type="text" ng-model = "cat.name" class="form-control" maxlength="80" id="firstname">
						</div>
 						-->
 						
					 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12"  style="    margin-top: 5%;">
												<label>Pregnancy Date</label>
													 <input type="text" ng-model="cat.pregnancyDate"
														name="dob" class="form-control " id="pregnancyDateEdit"
														 ng-click="pregnancyDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>	
						
					 
					 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Due Date</label>
													 <input type="text" ng-model="cat.dueDate"
														name="dob" class="form-control " id="dueDateEdit"
														 ng-click="dueDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					
					 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>First Insemination Date</label>
													 <input type="text" ng-model="cat.firstInseminationDate"
														name="dob" class="form-control " id="firstInseminationDateEdit"
														 ng-click="firstInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Second Insemination Date</label>
													 <input type="text" ng-model="cat.secondInseminationDate"
														name="dob" class="form-control " id="secondInseminationDateEdit"
														 ng-click="secondInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>
						
						 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Third Insemination Date</label>
													 <input type="text" ng-model="cat.thirdInseminationDate"
														name="dob" class="form-control " id="thirdInseminationDateEdit"
														 ng-click="thirdInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>	
						<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Forth Insemination Date</label>
													 <input type="text" ng-model="cat.forthInseminationDate"
														name="dob" class="form-control " id="forthInseminationDateEdit"
														 ng-click="forthInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>
					
				</div>
				<div class = "col-md-6	">
				
				 	       
						<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="    margin-top: 5%;">
												<label>Last Delivery Date</label>
													 <input type="text" ng-model="cat.lastDeliveryDate"
														name="dob" class="form-control " id="lastDeliveryDateEdit"
														 ng-click="lastDeliveryDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>		 	
						
						 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Success Date</label>
													 <input type="text" ng-model="cat.successDate"
														name="dob" class="form-control " id="successDateEdit"
														 ng-click="successDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>
						
						
					
					 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned First Insemination Date</label>
													 <input type="text" ng-model="cat.plannedFirstInseminationDate"
														name="dob" class="form-control " id="plannedFirstInseminationDateEdit"
														 ng-click="plannedFirstInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned Second Insemination Date</label>
													 <input type="text" ng-model="cat.plannedSecondInseminationDate"
														name="dob" class="form-control " id="plannedSecondInseminationDateEdit"
														 ng-click="plannedSecondInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned Third Insemination Date</label>
													 <input type="text" ng-model="cat.plannedThirdInseminationDate"
														name="dob" class="form-control " id="plannedThirdInseminationDateEdit"
														 ng-click="plannedThirdInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned Forth Insemination Date</label>
													 <input type="text" ng-model="cat.plannedForthInseminationDate"
														name="dob" class="form-control " id="plannedForthInseminationDateEdit"
														 ng-click="plannedForthInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
	            	</div>
	            	</div>
						<div class="form-actions">
							<div class="pull-right" style="margin-top:4%;">
								<button type="submit" ng-click="updateCattleProfileByAdmin(cat);"
									class="btn btn-success-custom" ng-if="cattleMaster == true">Update</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
							</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add new user model  -->
<!-- Modal Edit user details-->
<div class="modal fade" id="addnewCattle" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add Cattle Pregnancy Details </h4>
			</div>
			<div class="modal-body">
			<div class = "col-md-12	">
				<div class = "col-md-6	">
						<!-- <span ng-if = "feedPlanNameDup == true"> <code>Feed Plan name is present please use another one!!</code></span> -->
							 
							 <div class="col-md-12" style="margin-top:5%;margin-left:-4%;"> 
		           			<div class="col-md-12">
		              		 <label>Select Cattle to add pregnancy</label>
			                <select id = "use"  data-ng-model="cat.cattleId" class = "col-md-5 form-control" style="    width: 110%;">
			                 <option ng-repeat="u in cattle" value="{{u.cattleId}}"   >{{u.name}}</option>
			                </select>
	            		 </div>    
	            	</div>
							
					</div>				
					</div>
				<div class = "col-md-12">
				<div class = "col-md-6">
				
				
					 	
						<!-- <div class="col-md-12">
  							<label for="usr">Catttle Name</label>
  							<input type="text" ng-model = "cat.name" class="form-control" maxlength="80" id="firstname">
						</div>
 						-->
 						
					 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12"  style="    margin-top: 5%;">
												<label>Pregnancy Date</label>
													 <input type="text" ng-model="cat.pregnancyDate"
														name="dob" class="form-control " id="pregnancyDateAdd"
														 ng-click="pregnancyDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>	
						
					 
					  <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Due Date</label>
													 <input type="text" ng-model="cat.dueDate"
														name="dob" class="form-control " id="dueDateAdd"
														 ng-click="dueDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					
					 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>First Insemination Date</label>
													 <input type="text" ng-model="cat.firstInseminationDate"
														name="dob" class="form-control " id="firstInseminationDateAdd"
														 ng-click="firstInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Second Insemination Date</label>
													 <input type="text" ng-model="cat.secondInseminationDate"
														name="dob" class="form-control " id="secondInseminationDateAdd"
														 ng-click="secondInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>
						
						 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Third Insemination Date</label>
													 <input type="text" ng-model="cat.thirdInseminationDate"
														name="dob" class="form-control " id="thirdInseminationDateAdd"
														 ng-click="thirdInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>	
						<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Forth Insemination Date</label>
													 <input type="text" ng-model="cat.forthInseminationDate"
														name="dob" class="form-control " id="forthInseminationDateAdd"
														 ng-click="forthInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>
					
				</div>
				<div class = "col-md-6	">
						
		       	       
						 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="    margin-top: 5%;">
												<label>Last Delivery Date</label>
													 <input type="text" ng-model="cat.lastDeliveryDate"
														name="dob" class="form-control " id="lastDeliveryDateAdd"
														 ng-click="lastDeliveryDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>	
						
						 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Success Date</label>
													 <input type="text" ng-model="cat.successDate"
														name="dob" class="form-control " id="successDateAdd"
														 ng-click="successDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
						</div>
						
						
					
					 <div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned First Insemination Date</label>
													 <input type="text" ng-model="cat.plannedFirstInseminationDate"
														name="dob" class="form-control " id="plannedFirstInseminationDateAdd"
														 ng-click="plannedFirstInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned Second Insemination Date</label>
													 <input type="text" ng-model="cat.plannedSecondInseminationDate"
														name="dob" class="form-control " id="plannedSecondInseminationDateAdd"
														 ng-click="plannedSecondInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned Third Insemination Date</label>
													 <input type="text" ng-model="cat.plannedThirdInseminationDate"
														name="dob" class="form-control " id="plannedThirdInseminationDateAdd"
														 ng-click="plannedThirdInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
					<div class="col-md-12">
										<div class="">
											<div class="">
												<div class="input-group col-md-12" style="margin-top:5%;">
												<label>Planned Forth Insemination Date</label>
													 <input type="text" ng-model="cat.plannedForthInseminationDate"
														name="dob" class="form-control " id="plannedForthInseminationDateAdd"
														 ng-click="plannedForthInseminationDatepicker();"
														style="font-size: 12px;" required>
														
												</div>
											</div>
									</div>
					</div>
	            	</div>
	            	</div>
						<div class="form-actions">
							<div class="pull-right" style="margin-top:4%;">
								<button type="submit" ng-click="addCattlePregnancy(cat);"
									class="btn btn-success-custom" ng-if="Pregnant_Cattle == true">Add</button>
								&nbsp;
								<button type="button" class="btn btn-success-custom"
									data-dismiss="modal">Close</button>
								&nbsp;
								<!-- <button type="button" class="btn btn-default">Cancel</button> -->
							</div>
				</div>
			</div>
		</div>

	</div>
</div>


<style type="text/css">
.modal .modal-dialog {
	width: 70%;
}

.modal .modal-body {
	max-height: 500px;
	overflow-y: auto;
}

fieldset.scheduler-border {
	border: 1px groove !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	border-color: #darkgrey;
}

legend.scheduler-border {
	font-size: 1.0em !important;
	text-align: left !important;
	width: inherit;
	padding: 0 10px;
	border-bottom: none;
	color: darkgray;
}

.clsDatePicker {
	z-index: 100000;
}
</style>

<style>
.datepicker {
	z-index: 1151 !important;
}
</style>
